### Deno ###
/.idea/
/.vscode/

/node_modules

.env
*.orig
*.pyc
*.swp

# End of https://www.toptal.com/developers/gitignore/api/deno

# C++ ignores
cmake-build-debug-*

# Lib
lib/*
!lib/add_your_library.txt
