### Deno ###
/.idea
*/.idea/
/.vscode/

/node_modules
/bindings/home/
/bindings/gguf
bindings/.sccache

.env
*.orig
*.pyc
*.swp
*.gguf

# End of https://www.toptal.com/developers/gitignore/api/deno

# C++ ignores
cmake-build-debug*
*/cmake-build-debug*
cmake-build-release*
*/cmake-build-release*
bindings/build

# Lib
lib/*
!lib/place_libs_here.txt

# build
build/*
venv/*
.venv/*

# User configuration
config.yml
api_tokens.yml

# Models folder
models/*
!models/place_your_models_here.txt

# Templates folder
templates/*
!templates/place_your_templates_here.txt
!templates/alpaca.jinja
!templates/chatml.jinja
